@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
.contactcs{
    background: url('../assets/back.jpg') no-repeat center center/cover;
    opacity: 0.98;   
    background-attachment: fixed;
    font-family: 'PT Serif', serif;
}

.btn:hover{
    background: #1dadc6;
}