@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');
.resumecs {
    background: url('../assets/back.jpg') no-repeat center center/cover;
    opacity: 0.98;
    background-attachment: fixed;
}
.fontstyle{
    font-family: 'DM Sans', sans-serif;
}
#hover:hover{
    background: #72d3e4;
}
